/* Custom color theme properties */
:root {
  --f7-theme-color: #007aff;
  --f7-theme-color-rgb: 0, 122, 255;
  --f7-theme-color-shade: #0066d6;
  --f7-theme-color-tint: #298fff;
}

/* Your app custom styles here */
i.icon.my-icon { 
  width: 32px; 
  height: 32px; 
  /* background-image: url("/assets-src/web-icon.png");  */
}
/* .tab-link-active i.icon.my-icon { 
  width: 32px; 
  height: 32px; 
  background-image: url("/assets-src/web-icon.png"); 
} */

.page-content {
  padding-top: 25px;
}

.list {
  margin: 15px 0;
}

.list.inset {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.card {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.list.inset ul {
  border-radius: 10px !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.fab-left-bottom, .fab-center-bottom, .fab-right-bottom {
  bottom: 25px;
}

.shadow-sm ul{
  border-radius: 10px !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.linkList ul {
  border-radius: 10px !important;
}

.fab-extended {
  width: 90% !important;
}

.fab-buttons-top, .fab-buttons-bottom {
  left: 90%;
}